wordpress/*.php
wordpress/*.log
wordpress/.htaccess
wordpress/license.txt
wordpress/readme.html
wordpress/sitemap.xml
wordpress/sitemap.xml.gz

wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/wp-cache-config.php

wordpress/wp-content/*.php
wordpress/wp-content/themes/
wordpress/wp-content/plugins/*.php

wordpress/wp-includes/
wordpress/wp-admin/

dev/
old/
*.zip
*.gz
